.footer {
    height: fit-content;
    background-color: rgb(228, 219, 219);
    color: black;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    border-bottom: 5px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
    margin-left: 2rem;
}

.social img {
    height: 30px;
    width: 30px;
    margin: 2px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

.footer-icon {
    margin-left: 5rem;
    height: 1rem;
    width: 1rem;
    border: 1px solid white;
}

.contact {
    margin-left: 2rem;
    font-size: 1rem;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.copyright {
    margin-left: 2rem;
    font-size: 0.8rem;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* ------------------ Mobile View ------------------ */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        font-size: 0.9rem;
        padding: 1rem 0.5rem;
    }

    .social {
        margin: 0.5rem 0;
        justify-content: center;
    }

    .social img {
        height: 25px;
        width: 25px;
        margin: 5px;
    }

    .footer-icon {
        margin: 0.5rem 0;
        height: 1.2rem;
        width: 1.2rem;
    }

    .contact {
        margin: 0.5rem 0;
        font-size: 0.9rem;
        flex-direction: column;
    }

    .copyright {
        margin: 0.5rem 0;
        font-size: 0.8rem;
        flex-direction: column;
    }
}
