.header{
    background-color:  #fcf8f8;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.header h1{
    font-size: 2rem;
    font-weight: bold;
    color: blue;
    margin: 0;
}
.header-left{
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
    width: 60px;
    border: none;
    border-radius: 30%;
    margin-right: 15px
}
.header-right{
    display: flex;
    align-items: center;
}
.donate{
    background-color: rgb(255, 89, 0);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right:10px;
}
.donate:hover{
    background-color: rgb(255, 68, 0);
    color: white;
    text-decoration: none;
}